* {
    background: grey;
}
h1{
    text-align: center;
}
#container{
    margin: auto;
    max-width: 10 rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.button{
    padding :1.2rem;
    border:2px solid black;
    border-radius: 9px;
    cursor: pointer;
    width: 60px;
}
.input{
    border:2px solid black;
    padding: 6px 11px;
}
